SUBSYSTEM=="tty",
ATTRS{idVendor}=="1a86",
ATTRS{idProduct}=="7523",
ENV{ID_SERIAL_SHORT}=="1a86_USB_Serial",
OWNER:="root", 
GROUP:="dialout",
MODE:="0777",
SYMLINK+="robotController"
