<launch>
   <arg name="laser_scan" value="true"/>
   <param name="/forward/linear_scale" value="1.0" />
   <param name="/rotate/angular_scale" value="1.0" />

   <include file="$(find rom2109_description)/launch/urdf.launch" />
   
   <node name="stm32_driver" pkg="rom2109_controller" type="stm32_driver" output="screen"/>

   <!-- lidar -->
  	<group if="$(eval laser_scan == true)">
	 	<include file="$(find rom2109_controller)/launch/rplidarA2.launch" />
   </group>

    <include file="$(find rom2109_slam)/launch/amcl_sithu_map.launch" />



</launch>
