SUBSYSTEM=="tty",
ATTRS{idVendor}=="1a86",
ATTRS{idProduct}=="7523",
SYMLINK+="robotController"

SUBSYSTEM=="tty",
ATTRS{idVendor}=="10c4",
ATTRS{idProduct}=="ea60",
SYMLINK+="rplidarA2"

