<launch>

 <!-- MOVEMENT -->
  <include file="$(find rom2109_slam)/launch/includes/move_base.launch.xml"/>

	<!-- Run odom transformer. Credit goes to https://github.com/ne0h/hmmwv/blob/master/ros_workspace/src/hmmwv/launch/odomtransformer.launch -->
    <include file="$(find rom2109_controller_hector_odom)/launch/odomtransformer.launch"/>
    

</launch>