<launch>

 <!-- MOVEMENT -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find rom2109_controller_hector_odom)/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find rom2109_controller_hector_odom)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find rom2109_controller_hector_odom)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find rom2109_controller_hector_odom)/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find rom2109_controller_hector_odom)/base_local_planner_params.yaml" command="load" />
  </node>


	<!-- Run odom transformer. Credit goes to https://github.com/ne0h/hmmwv/blob/master/ros_workspace/src/hmmwv/launch/odomtransformer.launch -->
    <include file="$(find rom2109_controller_hector_odom)/launch/odomtransformer.launch"/>
    

</launch>