<!--
 *******************************************************************************
 *                    ROM ROBOTICS Co,.Ltd ( Myanmar )    										 *
 *			(ɔ) COPYLEFT 2021		| www.romrobots.com | (+95) 9-259-288-229 				 *
 *******************************************************************************
-->
<launch>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />
  
  <!--node name="tf_footprint_base" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base_link base_footprint 40" /-->
  
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-file $(find rom2109_description)/urdf/rom2109_description_gazebo.urdf -urdf -model rom2109" output="screen" />
  
  <!--node name="fake_joint_calibration" pkg="rostopic" type="rostopic" args="pub /calibrated std_msgs/Bool true" /-->

  <!--rosparam file="$(find rom2109_description)/config/diff_drive.yaml" command="load"/-->
  
  <node name="rom2109_sim_controller_manager" pkg="controller_manager" type="spawner" respawn="false" args="rom2109_diff_drive_controller" output="screen"/>
</launch>