<launch>
<!-- Convert xacro model file and put on parameter server -->
<param name="robot_description" textfile="$(find rom2109_description)/urdf/rom2109_short_gazebo.urdf" />
  

<!-- Spawn the robot from parameter server into Gazebo -->
<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model rom2109_short" />

<!-- start a robot_state_publisher -->
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

<!-- launch rviz using a specific config file -->
<node pkg="rviz" type="rviz" name="rviz" args="-d $(find rom2109_description)/rviz/urdf.rviz"/>

<include file="$(find gazebo_ros)/launch/empty_world.launch" />

</launch>
