<launch>	
  <param name="robot_description" textfile="$(find rom2109_description)/urdf/rom2109_tall.urdf" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="use_tf_static" value="true" type="bool" />
  </node>

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>

  <!-- launch rviz using a specific config file -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find rom2109_description)/rviz/urdf.rviz"/>
  
</launch>