<launch>
    <arg name="geotiff_map_file_path" default="$(find rom2109_hector_slam)/maps"/>

    <param name="/use_sim_time" value="false"/>

    <include file="$(find rom2109_hector_slam)/launch/mapping_default.launch"/>

    <include file="$(find rom2109_hector_slam)/launch/geotiff_mapper.launch">
        <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
        <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
    </include>
    
    
    <!-- start to save a map
        rostopic pub syscommand std_msgs/String "savegeotiff"
    -->
</launch>

    
